@media only screen and (max-width: 1760px) and (min-width: 768px) {
    .transparency {
        width: 60%;
    }
}

@media only screen and (max-width: 1550px) and (min-width: 768px) {
    .transparency {
        width: 60%;

        h1 {
            margin-top: 20px;
        }
    }
}

@media only screen and (max-width: 1475px) and (min-width: 768px) {
    #transparency .transparency {
        p {
            word-spacing: 0;
            letter-spacing: 0;
            margin-bottom: 25px;
        }
    }
}

@media only screen and (max-width: 1425px) and (min-width: 768px) {
    #transparency {
        .img-lockup {
            width: 38%;
        }

        .transparency {

            h1 {
                margin-bottom: 30px;
                margin-top: 36px;
                letter-spacing: 0.4px;
                font-size: 30px;
            }

            p {
                font-size: 12px;
            }
        }
    }
}

@media only screen and (max-width: 1380px) and (min-width: 768px) {
	#about {
		#transparency {
			height: 700px;

			.transparency {
				h1 {
					margin-bottom: 27px;
					margin-top: 22px;
				}

				p {
					font-size: 13px;
					line-height: 23px;
					margin-bottom: 20px;
					word-spacing: 0px;
					letter-spacing: 0px;
				}
			}
		}

		#team {
			#executive-team {
				.card-stack .card-list li {
					&:nth-child(3) {
						width: 75%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1190px) and (min-width: 768px) {
	#about #media-coverage .media-lockup {
		display: block;
		text-align: center;
	}
}

@media only screen and (max-width: 1145px) and (min-width: 768px) {
	#about {
		#transparency {
			height: 609px;

			.transparency {
				width: 65%;
				margin-left: 10%;

				h1 {
					margin-bottom: 26px;
					margin-top: 0px;
				}

				p {
					line-height: 20px;
				}
			}
		}

		#team {
			#advisory-board {
				.col-lg-3 {
					display:block;
					max-width: 50%;
					text-align: center;
				}
			}
		}
	}
}

@media only screen and (max-width: 1075px) and (min-width: 768px) {
	#about {
		#transparency {
			.transparency {
				p {
					font-size: 12px;
					line-height: 20px;
					margin-bottom: 25px;
				}
			}
		}
	}
}

@media only screen and (max-width: 854px) and (min-width: 768px) {
    #transparency .transparency {
        .img-lockup {
            width: 38%;
        }
    }
}

@media only screen and (max-width: 768px) {
	.hidden-md {
		display: none;
	}

	.visible-md {
		display: block
	}

	#about {

		h1 {
			font-size: $m-about-header-size;
		}

		p {
			font-size: $m-about-p-size;
		}

		#transparency {
			max-height: none;
			flex-wrap: wrap;
			height: auto;

			.img-lockup {
				order: 1;
				width: 100%;

				img {
					width: 100%;
					height: auto;
				}
			}

			.transparency-lockup {
				padding: 43px 15px 0px;
			}

			.transparency {
				margin: 0;
				width: 100%;
				margin: 0;

				h1 {
					margin-bottom: 34px;
				    letter-spacing: 0px;
				    padding-left: 1px;
				    margin-top: 23px;
				}

				p {
					letter-spacing: 0.5px;
					margin-bottom: 29px;
				}
			}
		}

		#media-coverage {
			padding: 112px 0 0px;
			
			.content {
				width: 100%;

				h1 {
				    font-size: 26.5px;
				    line-height: 40px;
				    letter-spacing: 0.05px;
				    word-spacing: 0px;
					margin: auto;
					padding: 0 20px;
				}
				
				.media-lockup {
					display: block;
					margin: 16px 0 30px;

					&:last-child {
						display: none;
					}
				}

				img {
					width: 199px;
					display: block;
					margin: auto;
				}
			}
		}

		#team {
			padding-top: 24px;

			.desktop {
				display: none;
			}

			.mobile {
				display: block;

				#executive-team {	
					padding: 0;

					p {
						font-size: 13px;
					}
					
					h3 {    
						margin-bottom: 119px;
					}
					
					>article:first-child {
				    	margin-bottom: 30.5px;
						padding: 0 18px;
				    }

					.heading {
						letter-spacing: -0.01px;
					    padding-right: 17px;
					    word-spacing: 0.5px;
					    font-size: 16.2px;
					    line-height: 22.8px;
					}
					
					.designation {
						letter-spacing: -0.1px;
					    word-spacing: -2px;
					}

					.carousel {
						.content {
							position: relative;
						}

						article {
							position: absolute;
						    top: -82px;
						    width: calc(100% - 36px);
						    background-color: #fff;
						    padding: 19px 22px;
						    border-radius: 4px;
				    		margin:0 18px;

				    		h4 {
				    			letter-spacing: 0px;
				    		}

				    		p {
				    			word-spacing: 1.5px;
				    			font-weight: 900;
								margin: 0;
				    		}

				    		h5 {
				    			margin-bottom: 20px;
				    		}

							.links a {
								margin: 0;
							}
						}

						.carousel-inner {
							overflow: visible;
						}
					}

					.slider-control {
						width: 100%;
						margin-top: 360px;
						position: relative;

						a {
							margin: 0;

							img {
								width: 54px;
								margin: 0 12px;
							}
						}
					}

					.control-lockup {
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						text-align: center;
					}
				}

				.swiper-container {
				    width: 100%;

				    img {
				    	width: 100%;
				    }
				}

				#board {
					padding: 49px 0px 64px;

					h3 {
						padding: 15px;
						font-weight: 600;
						font-size: 28px;
						line-height: 1.5;
						margin-bottom: 28px;
					}

					article {
						padding: 35px 30px;
						text-align: center;

						h5 {
							font-size: 17px;
							margin-bottom: 0;
						}

						p {
							font-size: 12px;
							word-spacing: 5px;
						}
					}
				}

			}
		}
	}
}
