.title-heading{
font-family: 'Montserrat', sans-serif;
	font-size:42px;
	font-weight: bolder;
}

#getStarted{

	background: url("https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg");
	background-position-y:-178px;
	background-size: cover;
	padding-top:250px;
	padding-bottom:67px;
	background-repeat: no-repeat;

}

.get-started-title{
margin-top:66px;
margin-left:10px;
font-size:40px;

}



.p1{
margin-top:49px;
margin-left:17px;
font-size:18px;
word-spacing:-2px;
font-size:18px;
}

.p2{
margin-left:15px;
margin-top:30px;
font-size:18px;
word-spacing:-2px;
font-size:18px;
}

.note{
margin-left:10px;
margin-top:5px;
font-size:16.5px;
}

.p3{
margin-left:12px;
margin-top:51px;
font-size:16px;
word-spacing:4px;
}

.p4{
margin-left:10px;
margin-top:42px;
font-size:18px;
word-spacing:10px;
}
.p5{
margin-left:10px;
margin-top:31px;
font-size:18px;
word-spacing:4px;
}

.support-title{

	margin-top:-5px;
	margin-left:12px;
	font-size:40px;
}

#support{
position: relative;
width: 100%;
padding-bottom:-150px;
}



#support-description{
	padding-right:40px;
		padding-top: 200px;
		padding-bottom:250px;
		font-size:20px;
}

#support-right{
	width:100%;
	background: #c11722;
	position: absolute;
	right:0;
	top:-40px;
	min-height: 100%;
	bottom: 0;
}

#support-right form{

	background: white;
	padding:40px;
	position: absolute;
	width:500px;
	top:-130px;
	left:75px;
	padding-left:57px;
	padding-right:57px;
	padding-top:46px;
	padding-bottom:80px;
}

#support-right form label{
	font-size:13px;

}

#support-right form input{
	padding-top:15px;
}

#support-right form .form-group{
	margin-bottom:25px;
}

#support-right form button{
	background:#132c5a;
	border:0;
	padding-left:69px;
	padding-right:69px;
	padding-top:18px;
	padding-bottom:18px;
	font-weight:bold;"
	border-radius:0 !important;
	font-size:13px;
	letter-spacing:2.1px;
	margin-top:40px;
}


.check-items{
	margin:0;
	margin-top:38px;
	margin-left:-30px;
}
.check-items li{
background: url(../images/services/ellipse.png) no-repeat left top;
padding-bottom: 28px;
list-style: none;
margin: 0;

}

.check-items li span{
	padding-left:43px;
	font-size:17px;
}


@media only screen and (max-width: 768px) {

	#getStarted{

	background-size:cover;
	padding-bottom:250px;
	}



.get-started-title{
margin-left:-1px;
margin-top:24px;
}

.p1{
	margin-left:0px;
	font-size:17px;
	line-height:28px;
}

.p2{
	margin-left:0px;
	font-size:17px;
	line-height:28px;
}

.check-items{
margin-left:-39px;
margin-top:57px;
}

.note{
	margin-left:0px;
	line-height:30px;
}

.support-title{

	margin-top:-325px;
	margin-left:-15px;
}

.p3{

padding-top:1px;
	font-size:17px;
	text-align:justify;
	word-spacing:1px;
	margin-left:-10px;

}
.p4{

padding-top:1px;
	font-size:16px;
	text-align:justify;
	word-spacing:-1px;
	margin-left:-10px;
}
.p5{

	margin-top:27px;
	font-size:17px;
	text-align:justify;
	word-spacing:-1px;
	margin-left:-10px;
}


    #support-right{

  	background: none;
  	position: relative;
  	width: 100%;

    }

    #support-right form{
    	background: none;
    	position: relative;
    	left:0;
		top:-120px;
    	width:100%;
    	padding: 0;

    }


    #support-right form button{
	margin-top:45px;


	}


}

@media only screen and (max-width: 320px) {
	
	#getStarted{
			padding:0;

	}

<<<<<<< HEAD
=======
		

}

@media only screen and (max-width: 1700px) {
	
		#getStarted{
			padding-top:100px;
		}

}

@media only screen and (max-width: 1366px) {
	
		#getStarted{
			background-position:bottom;
			padding-top:0;
		}

>>>>>>> 663435a6a6cb0689ee5a77de1212b55f0ca9942a
}