.title-heading{
font-family: 'Montserrat', sans-serif;
	font-size:42px;
	font-weight: bolder;
}

.mobile-tools{
	display:none;
	width:100%;
	height:435px;
	background: url("https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg");
	background-size: cover;
}

#getStarted{

	background: url("https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg");
	background-position-y:-180px;
	background-size: cover;
	padding-top:250px;
	padding-bottom:67px;
	background-repeat: no-repeat;

}

.get-started-title{
margin-top:68px;
margin-left:10px;
font-size:39px;

}



.p1{
margin-top:49px;
width:670px;
margin-left:11px;
word-spacing:-1.5px;
font-size:16.5px;
font-weight:500;
line-height:27px;
}

.p2{
font-weight:500;
margin-left:13px;
margin-top:60px;
font-size:18px;
word-spacing:-2px;
font-size:16.5px;
line-height:27px;
}

.note{
margin-left:10px;
margin-top:7px;
font-size:16.5px;
line-height:26px;
}

.p3{
margin-left:12px;
margin-top:51px;
font-size:16.5px;
word-spacing:4px;
font-weight:600;
line-height:27px;
}

.p4{
margin-left:10px;
margin-top:31px;
font-size:16.5px;
word-spacing:5px;
font-weight:600;
line-height:27px;
}
.p5{
margin-left:10px;
margin-top:31px;
font-size:16.5px;
word-spacing:5px;
font-weight:600;
line-height:27px;
}

.support-title{

	margin-top:-8px;
	margin-left:10px;
	font-size:39px;
}

#support{
position: relative;
width: 100%;
padding-bottom:-150px;
}



#support-description{
	padding-right:40px;
		padding-top: 200px;
		padding-bottom:250px;
		font-size:20px;
}

#support-right{
width:100%;
	background: #c11722;
	position: absolute;
	right:0;
	top:-40px;

	min-height: 100%;
	bottom: 0;
}

#support-right form{

	background: white;
	padding:40px;
	position: absolute;
	width:500px;
	top:-133px;
	left:72px;
	padding-left:57px;
	padding-right:57px;
	padding-top:46px;
	padding-bottom:80px;
}

#support-right form label{
	font-size:12.5px;
	font-weight:600;
	margin-left:-1px;
}

#support-right form input{
	padding-top:15px;
}

#support-right form .form-group{
	margin-bottom:25px;
}

#support-right form button{
	background:#132c5a;
	border:0;
	border-radius:5px;
	padding-left:66px;
	padding-right:66px;
	padding-top:19px;
	padding-bottom:19px;
	font-weight:bold;"
	border-radius:0 !important;
	font-size:14px;
	letter-spacing:5px;
	letter-spacing:2.1px;
	margin-top:40px;
}


.check-items{
	margin:0;
	margin-top:33px;
	margin-left:-33px;
}
.check-items li{
background: url(../images/services/ellipse.png) no-repeat left top;
padding-bottom: 28px;
list-style: none;
margin: 0;

}

.check-items li span{
	padding-left:39px;
	font-size:17px;
}

.check-items li span:nth-child(1){
	
}



@media only screen and (max-width: 768px) {

	.mobile-tools{
		display:block;

	}

	#getStarted{

	background:#edeef2;
	margin-top:-185px;
	padding-bottom:80px;
	}



.get-started-title{
margin-left:-1px;
margin-top:24px;
}

.p1{
	margin-left:0px;
	font-size:16.5px;
	line-height:28px;
	width:100%;
	word-spacing:-1px;
}

.p2{
	margin-top:28px;
	margin-left:0px;
	font-size:17px;
	line-height:28px;
}

.check-items{
margin-left:-39px;
margin-top:35px;
}

.note{
	margin-top:5px;
	font-size:16px;
	margin-left:0px;
	line-height:28px;
	font-weight:400;
}


#support{


}
.support-title{

	margin-top:-147px;
	margin-left:-17px;
}

.p3{

padding-top:1px;
	font-size:16.5px;

	margin-left:-18px;
}
.p4{

margin-top:-12px;
font-size:15px;
font-weight:500;
margin-left:-18px;
width:250px;
}

.p5{

	margin-top:-8px;
	font-size:17px;
	font-weight:500;
	word-spacing:-1px;
	margin-left:-18px;
}


    #support-right{

  	background: none;
  	position: relative;
  	width: 100%;
	height:602px;

    }

    #support-right form{
    	background: none;
    	position: relative;
    	left:0;
		top:-150px;
    	width:100%;
    	padding: 0;
    	margin-left:-10px;

    }


    #support-right form button{
	margin-top:45px;
	margin-left:3px;
	font-size:14px;

	}


}

@media only screen and (max-width: 320px) {
	
	
	#getStarted{
		

	}



}

@media only screen and (max-width: 1700px) {
	
		#getStarted{
			padding-top:100px;
		}

}

@media only screen and (max-width: 1366px) {
	
		#getStarted{
			background-position:bottom;
			padding-top:0;
		}

}