
/* ------------ FOOTER By Philip---------------*/
div.ib-top-section{
    background-color: #0a293f;
    padding-bottom: 50px;
    padding-top: 50px;
}

div.ib-top-section-wrapper{
    margin: 0 auto;
}


p.ib-footer-heading{
    color: white;
    font-size: 1.3rem;
    letter-spacing: 7px;
    font-weight: 600;
    line-height: 2;
    text-align: center;
}

p.ib-footer-subheading{
    font-size: .9rem;
    font-weight: bold;
    color: rgb(107,124,147);
    text-align: left;
    margin-bottom: 40px;
    margin-top: 43px;
}

a.ib-footer-subtext{
    font-size: .89rem;
    color: white;
    text-align: left;
    font-weight: 500;
    text-decoration: none;
    line-height: 2.5;
}




/* IBINEX-Footer Bottom Section */

div.ib-bottom-section{
    background-color: rgb(7,29,45);
    height: 100%;
}

div.ib-bottom-section-wrapper{
    margin: 0 auto;

}

img.ib-logo{
    margin-top: 165px;
    width: 74%;
    height: auto;
    max-width: 400px;
    float: left;
}

ul.ib-offices-list-first,
ul.ib-offices-list-second{
    color: white;
    line-height: 2.3;
    font-size: .88rem;
    font-weight: 500;
}


p.ib-disclosure-text{
    text-align: justify;
    color: rgb(57,74,87);
    padding-top: 40px;
    padding-bottom: 100px;
    font-weight: 700;
    font-size: .7rem;
    word-spacing: -1px;
}

input.ib-input-custom{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 15px 0 15px 20px;
}

button.ib-btn-custom{
    background-color: rgb(192,23,34);
    font-size: x-small;
    padding: 20px 35px;
    font-weight: bold;
}

p#ib-fuo-text{
    margin-bottom: 16px;
    margin-top: 25px;
}

ul.ib-logo-list li.ib-logo-item{
    margin-right: .1rem;
}

div.ib-contact-input{
    max-width: 500px;
}

@media (max-width: 1199px) {

    img.ib-logo{
        float:none;
        margin: 10% 0;
    }

}

@media (max-width: 768px) {

    div.ib-top-section, div.ib-bottom-section{
        padding-left: 0;
        padding-right: 0;
    }

    div.ib-contact-section{
        display: none;
    }

}

/* -----------------END OF FOOTER By Philip --------------------*/