/*Nav CSS*/
* {
    font-family: "Montserrat", sans-serif;
}
div.contact-container{
    background-color: rgb(227, 227, 227);
    width: 100%;
    height: 60px;
}
div i.fa-phone{
    color:rgb(22, 44, 89);
    font-size: 14px;
}
div .distance-phone , .distance-chat{
    padding-top: 4px;
}
div .distance-chat{
    padding-left: 60px;
}
div i.fa-comments{
    color: rgb(3, 131, 33);
    font-size: 14px;
}
header nav.nav-link{
    color: rgb(22, 44, 89);
}
div img.telegram-logo{
    margin-left: 16px;
    margin-bottom: 1px;
    margin-right: 20px;
}
div .join-telegram{
    border-width: 1px;
    border-color: rgb(0, 174, 239);
    border-style: solid;
    border-radius: 6px;
    color: rgb(0, 174, 239);
    font-size: 12px;
    width: 240px;
    height: 28px;
}
div span.phone-text{
    color: rgb(22, 44, 89);
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
}
div span.live-chat{
    font-size: 14px;
    color: rgb(3, 131, 33);
    font-weight: 700;
}
header .nav-name{
    color: rgb(22, 44, 89);
    font-weight: 600;
    font-size: 13px;
}
header nav.nav-menu{
    height: 105px;
}
header span.crypto-amount{
    display: block;
    font-size: 10px;
}
header .crypto-name{
    font-family: 'mr-eaves-xl-modern', sans-serif;
    padding-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    display: block;
}
header div span.low-price{
    color: #ff0000;
}
header div span.high-price{
    color: #00ff18;
}
header div#crypto-price{
    background-image: -moz-linear-gradient( 0deg, rgb(19,44,90) 0%, rgb(192,23,34) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(19,44,90) 0%, rgb(192,23,34) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(19,44,90) 0%, rgb(192,23,34) 100%);
    height: 57px;
    width: 100%;
}
header{
    background-color: rgb(246, 246, 247);
}

header div.horizontal-scroll{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

header nav button.button-demo{
    width: 181px;
    height: 49px;
    border: none;
    background-color: rgb(19, 44, 90);
    box-shadow: none;
    border-radius: 10px;
    font-size: 12px;
    padding-top: 4px;
    color: rgb(246, 246, 247);
    text-transform: uppercase;
    font-weight: 600;
}
div span.telegram-text{
    font-size: 11px;
    color: rgb(22, 44, 89);
    margin-top: 5px;
}
@media (min-width: 320px){
    header nav.nav-menu{
        height: 90px;
    }
    header nav .brand-mobile{
        padding-bottom: 10px;
        position: absolute;
    }

    header div#crypto-price{
        padding-left: 72px;
        padding-bottom: 9px;
    }

    header span.toggle{
        color: rgb(19, 44, 90);
        margin-left: 263px;
        font-size:30px;
        cursor:pointer;
        margin-bottom: 10px;
    }

    header div.right-distance{
        padding-right: 103px;
        display: inline-block;
    }
    header div.right-end-distance{
        padding-right: 59px;
    }

    /*Sidebar*/
    nav .sidenav.open{
        -webkit-box-shadow: inset 15px 0 26px -7px rgba(0,0,0,0.4);
        -moz-box-shadow: inset 15px 0 26px -7px rgba(0,0,0,0.4);
        box-shadow: inset 15px 0 26px -7px rgba(0,0,0,0.4);
    }
    nav .sidenav img{
        margin-bottom: 25px;
    }
    nav .sidenav{
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: #fff; /* Black*/
        overflow-x: auto; /* Disable horizontal scroll */
        transition: 0.5s ease-in-out;
    }
    nav .sidenav ul{
        padding:20px;
        text-align: center;
    }
    nav .sidenav ul li{
        margin: 2.5px 0;
        min-width:210px;
    }
    nav .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        display: block;
        transition: 0.3s ease;
        color: black;
    }
    /* When you mouse over the navigation links, change their color */
    nav .sidenav a:hover {
        color: black;
    }

    /* Position and style the close button (top right corner) */
    nav .sidenav .closebtn {
        top: 0;
        left: 0;
        font-size: 40px;
    }

    nav .button-margin{
        margin-left: 48px;

    }
    header div.display-crypto{
        display: inline-block;
    }
    header div.first-distance, .second-distance, .third-distance, .fourth-distance, .fifth-distance, .sixth-distance{
        padding-right: 103px;
    }
    header div.end-space{
        padding-right: 58px;
    }

}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media (min-width: 1920px){
    header nav.nav-menu{
        height: 105px;
        margin-left: 372px;
        width: 100%;
    }
    div.join-telegram-distance{
        padding-left: 58px;
        padding-right: 268px;
    }
    header .button-setting{
        margin-left: 86px;
        margin-top: 3px;
    }
    header nav .bottom-nav{
        padding-bottom: 10px;
    }
    header .home-and-why-ibinex-distance, .nav-distance{
        padding-right: 34px;
    }
    header .nav-security{
        padding-right: 33px;
    }
    header .legal-contact{
        padding-right: 23px;
    }
    header .contact-margin{
        margin-right: 87px;
    }
    header .button-padding{
        padding-top: 4px;
        padding-left: 8px;
    }
    header nav .brand-mobile{
        padding-bottom: 10px;
        position:relative;
        padding-right: 99px;
    }
    header div.row{
        padding:0;
    }
    header div#crypto-price{
        padding-left: 150px;
        padding-bottom: 9px;
    }
    header div.display-crypto{
        display: inline-block;
    }
    header div.first-distance{
        padding-right: 159px;
    }
    header div.second-distance{
        padding-right: 189px;
    }
    header div.third-distance{
        padding-right: 182px;
    }
    header div.fourth-distance{
        padding-right: 185px;
    }
    header div.fifth-distance{
        padding-right: 188px;
    }
    header div.sixth-distance{
        padding-right: 164px;
    }
}

/* ------------ FOOTER By Philip---------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');


footer{
    font-family: 'Montserrat', sans-serif;
}
div.ib-top-section{
    background-color: #0a293f;
    padding-bottom: 42px;
    padding-top: 37px;
}

div.ib-top-section-wrapper{
    margin: 0 auto;
}


p.ib-footer-heading{
    color: white;
    font-size: 1.4rem;
    letter-spacing: 4.6px;
    font-weight: 500;
    line-height: 2;
    margin-right: -16px;
    text-align: center;
}

p.ib-footer-subheading{
    font-size: .8rem;
    font-weight: bold;
    color: rgb(127,127,127);
    text-align: left;
    margin-bottom: 28px;
    margin-top: 33px;
}

a.ib-footer-subtext{
    font-size: .8rem;
    color: white;
    text-align: left;
    text-decoration: none;
    line-height: 2.2;
    white-space: nowrap;
}

p.ib-footer-subheading, a.ib-footer-subtext{
    margin-right: 15px;
    font-weight: 600;
}

a.ib-footer-subtext:hover{
    color: white;
}

div p#legal ~ a{
    margin-left: 0px;
}

/* -1127 */

/* IBINEX-Footer Bottom Section */

div.ib-bottom-section{
    background-color: rgb(7,29,45);
}

div.ib-bottom-section-wrapper{
    margin: 0 auto;
    padding-top: 0.4%;
}

div.ib-logo-wrapper{
    max-width: 25%;

}

img.ib-logo{
    margin-top: 122px;
    width: 76%;
    height: auto;
    max-width: 400px;
    float: left;
}

div.ib-offices-list-wrapper{
    max-width: 46%;
}

ul.ib-offices-list-first,
ul.ib-offices-list-second{
    color: white;
    line-height: 2.3;
    font-size: .88rem;
    font-weight: 500;
}

ul.ib-offices-list-second{
    margin-top: -4px;
}


div.ib-contact-section{
    padding-left: 63px;
    padding-right: 11px;
}
input.ib-input-custom{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 15px 0 15px 20px;
    font-size: small;
    font-weight: bolder;
}

button.ib-btn-custom{
    background-color: rgb(192,23,34);
    font-size: x-small;
    padding: 18px 35px 20px 36px;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

p#ib-fuo-text{
    margin-bottom: 10px;
    margin-top: 23px;
}

ul.ib-logo-list li.ib-logo-item{
    margin-right: .2rem;
}

div.ib-contact-input{
    max-width: 500px;
    height: 51px;
}

p.ib-disclosure-text{
    text-align: justify;
    color: rgb(127,127,127);
    padding-top: 40px;
    padding-bottom: 100px;
    font-weight: 600;
    font-size: .7rem;
    word-spacing: -1.92px;
    line-height: 13px;
}

@media (max-width: 1199px) {

    img.ib-logo{
        float:none;
        margin: 10% 0 10% 48%;
    }

    div.ib-contact-section {
        padding-left: 15px;
        padding-right: 11px;
    }

    div.ib-logo-wrapper {
        max-width: 60%;
    }


}
@media (max-width: 768px) {

    div.ib-top-section, div.ib-bottom-section{
        padding-left: 0;
        padding-right: 0;
    }

    div.ib-contact-section{
        display: none;
    }

    div.ib-offices-list-wrapper {
        max-width: 100%;
    }

    p.ib-footer-heading {
        margin-right: 0;
    }
}

@media (max-width: 320px){

    div.ib-top-section {
        padding-bottom: 77px;
        padding-top: 34px;
    }




    p.ib-footer-heading {
        color: white;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8;
        word-spacing: 0px;
        text-align: center;
        padding-left: 8px;
    }
    p.ib-footer-heading span{
        padding-right: 10px;
    }

    p.ib-footer-subheading {
        font-size: .8rem;
        font-weight: bold;
        color: rgb(107,123,148);
        text-align: left;
        margin-bottom: 28px;
        margin-top: 33px;
        margin-left: 0px;
    }

    p#pricing{
        margin-left: -3px;
        margin-bottom: 27px;
        margin-top: 30px;
    }

    div p#pricing ~ a{
        margin-left: -3px;
    }

    p#services-heading{
        margin-top: 35px;
        margin-left: -2px;
        margin-bottom: 27px;
    }

    div p#services-heading ~ a{
        margin-left: -2px;
    }

    p#security{
        margin-top: 32px;
        margin-bottom: 27px;
    }

    div p#security ~ a{
        margin-left: 0px;
    }

    p#legal{
        margin-top: 30px;
        margin-bottom: 27px;
    }

    div p#legal ~ a{
        margin-left: 0px;
    }

    p#about{
        margin-top: 29px;
        margin-left: -4px;
        margin-bottom: 27px;
    }

    div p#about ~ a{
        margin-left: -3px;
    }

    p#offices{
        margin-left: 2px;
        margin-top: 35px;
        margin-bottom: 27px;
        color: rgb(75,75,75);
    }

    .ib-offices-list-first{
        margin-left: 1px;
        letter-spacing: -0.2px;
    }

    a.ib-footer-subtext {
        font-size: .8rem;
        color: white;
        text-align: left;
        text-decoration: none;
        line-height: 2.3;
    }


    img.ib-logo {
        float: none;
        margin: 19% 0 5% 19%;
        width: 83%;
    }

    div.ib-logo-wrapper {
        max-width: 85%;
    }

    div.ib-security-section{
        margin-left: -3px;
        margin-top: 9px;
    }

    ul.ib-offices-list-second {
        margin-top: 9px;
        margin-left: -3px;
        letter-spacing: -0.2px;
    }

    ul.ib-offices-list-first li a,
    ul.ib-offices-list-second li a{
        font-size: .88rem;
    }
}

@media all and (min-width: 1200px){
    .container{
        max-width: 1205px;
    }
}

/* -----------------END OF FOOTER By Philip --------------------*/