@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700i');
@font-face {
	font-family: GothamBoldItalic;
	src: url('../fonts/GothamBoldItalic.ttf');
}
@font-face {
	font-family: "Proxima Nova";
	font-weight: 600;
	src: url('../fonts/ProximaNovaBold.otf');
}
@font-face {
	font-family: "Proxima Nova";
	font-weight: 500;
	src: url('../fonts/ProximaNovaSemibold.ttf');
}
@font-face {
	font-family: "Proxima Nova";
	font-weight: 400;
	src: url('../fonts/ProximaNovaRegular.otf');
}

/*First Fold*/
#intro-cryptobridge{
	background: url('../images/home/home-hero.jpg') no-repeat center center;
	background-size: cover;
	width: 100%;
	padding: 76px 15px 150px 15px;
	min-height: 696px;
	position: relative;
}
#intro-cryptobridge article {
	font-family: Montserrat, san-serif;
	width: 100%;
	position: relative;
	z-index: 1;
}
#intro-cryptobridge h1 {
	margin: 22px -4px 54px;
	font-style: italic;
	font-size: 35px;
	font-family: "GothamBoldItalic", serif;
	color: rgb(246, 246, 247);
	font-weight: 600;
	line-height: 0.48;
	letter-spacing: 0.6px;
}
#intro-cryptobridge h2 {
	font-size: 35px;
	font-family: "Playfair Display", sans-serif;
	color: rgb(246, 246, 247);
	font-style: italic;
	font-weight: 500;
	letter-spacing: -0.4px;
	line-height: 0.72;
	margin: 0 0 0;
}
#intro-cryptobridge p {
	font-size: 17px;
	color: #ffffff;
	padding: 3px 0;
	margin-bottom: 19px;
	text-align: justify;
}
#intro-cryptobridge form#requestDemo {
	width: 426px;
	margin-top: 16px;
}
#intro-cryptobridge input {
	display: none;
}
#intro-cryptobridge button {
	background: #c01722;
	color: white;
	border: 0;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1.4px;
	padding: 0px 0px 2px 5px;
	min-height: 56px;
	min-width: 209px;
}
#intro-cryptobridge button[type='submit'] {
	height: 100%;
	border-radius: 0 0.6em 0.6em 0;
}

/*Second Fold*/
#gateway {
	background: #f7f8f9;
	padding: 118px 15px;
}
#gateway .container{
	padding: 0;
}
#gateway article:nth-child(1){
	order: 2;
}
#gateway article:nth-child(3){
	order: 1;
}
#gateway h1{
	color: #2b3135;
	font-size: 33px;
	font-weight: 800;
	letter-spacing: -0.85px;
	line-height: 60px;
}
#gateway p{
	color: #6b7c93;
	letter-spacing: 0.2px;
	word-spacing: 0px;
	line-height: 28px;
	text-align: justify;
}

/*Third Fold*/
#exchange .row{
	margin-top: 10px;
	margin-bottom: 28px;
}
#exchange-title{
	padding-top: 100px;
	padding-bottom: 60px;
	padding-left: 15px;
}
#exchange-title h2{
	color: #2b3135;
	font-weight: bolder;
	font-size: 30px;
	letter-spacing: -.6px;
	word-spacing: 0px;
	line-height: 40px;
}
#exchange-1 h1,#exchange-2 h1,#exchange-3 h1{
	color:#132c5a;
	font-size: 22px;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	line-height: 1.2;
	margin: 0 0 35px;
	min-height: 52px;
}
#exchange-1 img,#exchange-2 img,#exchange-3 img{
	margin-bottom: 20px;
	height: 70px;
	width: auto;

}
#exchange-1 p,#exchange-2 p,#exchange-3 p{
	color:#6b7c93;
	letter-spacing: -0.75px;
	word-spacing: 3px;
	line-height: 25px;
	text-align: justify;
	font-size: 17px;
	min-height: 200px;
}

/*Fourth Fold*/
#vision{
	background-color: #f7f8f9;
}
#vision article:nth-child(1){
	top: 249px;
	left: 18px;
	z-index: 1;
}
#vision article:nth-child(1) img{
	box-shadow: 0 0 50px black;
}
#vision article:nth-child(3){
	background: white;
	margin-top: 145px;
	margin-bottom: 238px;
	padding-top: 181px;
	padding-bottom: 182px;
	padding-left: 80px;
}
#vision article:nth-child(3) h1{
	font-size: 68px;
	font-weight: 800;
	letter-spacing: -0.3px;
}
#vision article:nth-child(3) h1 span:nth-child(2){
	font-family: 'Playfair Display', serif;
	padding-left: 9px;
}

/* Fifth Fold*/
#technical-papers{
	padding-top: 65px;
	padding-bottom: 70px;
}
#technical-papers h5{
	font-size:16px;
	font-weight: bold;
	letter-spacing: -0.3px;
	color: #9c9c9c;
}
#technical-papers h1{
	font-size: 40px;
	padding-bottom: 35px;
	font-weight: bold;
	letter-spacing: -0.7px;
	margin-top: 15px;
	word-spacing: -2px;
	margin-bottom: 0;
}
#technical-papers section{
	margin-top: 15px;
	margin-bottom: 33px;
}
#technical-papers section article h3{
	font-family: "Proxima Nova", san-serif;
	font-weight: 600;
	font-size:20px;
	letter-spacing: 0.3px;
	margin-bottom: 4px;
}
#technical-papers section article h4{
	font-family: "Proxima Nova", san-serif;
	font-weight: 400;
	font-size:16px;
	color: #5f5f5f;
}

/*

title:
1a1a1a



*/
.rounded-button{
	margin-top: 16px;
	border-radius: 50px;
	padding-left: 26px;
	padding-top: 12px;
	padding-bottom: 10px;
	padding-right: 26px;
	background: #12d5b8;
	color: #212a5f;
	letter-spacing: 0.5px;
	font-size: 14px;
	text-transform: uppercase;
}

.vision-web {
	display: none;
}
.vision-mobile {
	display: block;
	min-height: 530px;
}
#vision .vision-web span, #vision .vision-mobile span {
	color: black;
}

@media only screen and (min-width: 768px) {
/*	button[type='submit'] {
		height: 100%;
		border-radius: 0 0.5em 0.5em 0;
	}*/
	#media-coverage{
		background: #f7f8f9;
		padding-top:82px;
		padding-bottom:117px;
	}

	#media-coverage h1{
		font-weight: bold;
		font-size: 30px;
		letter-spacing: -0.7px;
		padding-left: 22px;
	}

	#coverages{
		margin-top: 60px;
		list-style: none;
		width: 100%;
		text-align: center;
	}
	#coverages li{
		text-align: center;
		display:inline-block;
		padding-left:15px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px)  {
	#intro-cryptobridge {
		padding: 7em 2em;
	}
	#gateway article:nth-child(1) {
    	padding-top: 2em;
	}
	section.vision-mobile article h1{
		font-size: 68px;
		font-weight: 800;
		letter-spacing: -0.3px;
	}
	section.vision-mobile article h1 span:nth-child(2){
		font-family: 'Playfair Display', serif;
		padding-left: 9px;
	}
}
@media only screen and (min-width: 992px) {
	#vision .vision-mobile article:nth-child(2) h1 {
		font-size: 4em;
		margin: 0.25em 0;
	}
	#vision .vision-mobile article:nth-child(2) h1 span {
		color: black;
		font-weight: bold;
	}
	#vision .vision-mobile article h1 span:nth-child(2) {
		font-family: 'Playfair Display', serif;
		padding-left: 9px;
	}

	/*First Fold*/
	#intro-cryptobridge{
		background: url('../images/home/home-hero.jpg') no-repeat center center;
		background-size: cover;
		width: 100%;
		padding-top: 140px;
		padding-bottom: 150px;
		height: 789px;
		position: relative;
	}
	.hollow-box {
		height: 626px;
		width: 461px;
		border: 20px solid #c01722;
		mix-blend-mode: darken;
		background-color: inherit;
		border-radius: 0 50px 0 0;
		position: absolute;
		bottom: 102px;
		left: calc(5% + 58px);
	}
	#intro-cryptobridge article {
		width: 755px;
		position: relative;
		margin-top: 64px;
		z-index: 1;
		left: calc(10% + 82px);
	}
	#intro-cryptobridge h1 {
		margin: 40px -4px 54px;
		font-style: italic;
		font-size: 99px;
		font-family: "GothamBoldItalic", serif;
		color: rgb(246, 246, 247);
		font-weight: 600;
		line-height: 0.48;
		letter-spacing: 0.6px;
		transform: translate(8px,3px);
	}
	#intro-cryptobridge h2 {
		font-size: 58px;
		font-family: "Playfair Display", sans-serif;
		color: rgb(246, 246, 247);
		font-style: italic;
		font-weight: 500;
		letter-spacing: -0.4px;
		line-height: 0.72;
		margin: 0 0 43px;
		transform: translate(5px,-1px);
	}
	#intro-cryptobridge p {
		font-size: 17px;
		color: #ffffff;
		padding: 3px 0;
		margin-bottom: 22px;
		letter-spacing: -0.1px;
		text-align: justify;
		line-height: 25px;
		padding-left: 8px;
		transform: translate(9px,3px);
	}
	#intro-cryptobridge p:nth-child(2) {
		padding-top: 5px;
	}
	#intro-cryptobridge form#requestDemo {
		width: 320px;
		left: 52%;
		margin-top: 16px;
	}
	#intro-cryptobridge input {
		display: inline;
		color: #28262b;
		padding: 17px 5px 20px 22px;
		height: 50px;
		max-width: 286px;
		font-size: 13px;
		letter-spacing: -0.43px;
		font-weight: 600;
	}
	#intro-cryptobridge button {
		background: #c01722;
		color: white;
		border: 0;
		font-size: 10px;
		font-weight: bold;
		letter-spacing: 1.4px;
		padding: 0px 0px 2px 5px;
		min-height: 0;
		min-width: 140px;
	}

	#gateway section.row article:nth-child(1){
		position: absolute;
	}

	#gateway h1{
		color: #2b3135;
		font-size: 39px;
		font-weight: 800;
		letter-spacing: -0.85px;
		line-height: 60px;
	}
	#technical-papers section article div{
		position: relative;
		top: -9px;
	}
	#vision article:nth-child(1) {
		top: 120px;
		left: 120px;
		z-index: 1;
	}
	#vision article:nth-child(3) {
		background: white;
		margin-top: 325px;
		margin-bottom: 200px;
		padding-top: 100px;
		padding-bottom: 100px;
		padding-left: 0;
	}
}


@media all and (min-width: 1360px){
	.vision-web {
		display: flex;
	}
	.vision-mobile {
		display: none;
	}

	#vision{
		background-color: #f7f8f9;
	}
	#vision article:nth-child(1){
		top: 249px;
		left: 18px;
		z-index: 1;
	}
	#vision article:nth-child(1) img{
		box-shadow: 0 0 50px black;
	}
	#vision article:nth-child(3){
		background: white;
		margin-top: 145px;
		margin-bottom: 238px;
		padding-top: 181px;
		padding-bottom: 182px;
		padding-left: 80px;
	}
	#intro-cryptobridge form#requestDemo {
		width: 426px;
	}
	.hollow-box {
		left: calc(10% + 58px);
	}
	#intro-cryptobridge article {
		left: calc(20% + 82px);
	}
	#gateway .container{
		max-width: 1250px;
	}
	#gateway section.row article:nth-child(1){
		left: calc(-8% + 55px);
		top: 128px;
	}
	#gateway h1 {
		padding-top: 0px;
		padding-left: 13px;
		margin-bottom: 28px;
	}
	#gateway p{
		padding-right: 28px;
	}
	#exchange-1 article,
	#exchange-2 article,
	#exchange-3 article{
		padding-left: 30px;
		padding-top: 6px;
	}
	#exchange-1 article:nth-child(2),
	#exchange-2 article:nth-child(2),
	#exchange-3 article:nth-child(2){
		/*padding-left: 105px;*/
		padding-left: 30px;
	}
	#technical-papers section.row article:nth-child(1) div,
	#technical-papers section.row article:nth-child(4) div{
		padding-left: 20px;
	}
	#technical-papers section.row article:nth-child(2) div,
	#technical-papers section.row article:nth-child(5) div{
		padding-left: 35px;
	}
	#technical-papers section.row article:nth-child(3) div,
	#technical-papers section.row article:nth-child(6) div{
		padding-left: 47px;
	}
}

@media all and (min-width: 1600px){
	#intro-cryptobridge {
		background: url('../images/home/home-hero.jpg') no-repeat 0% 100%;
		background-size: 100%;
	}
	.hollow-box {
		left: calc(15.9% + 58px);
	}
	#intro-cryptobridge article {
		left: calc(20% + 82px);
	}
	#gateway section.row article:nth-child(1){
		left: calc(3% + 55px);
	}
	#vision article:nth-child(1){
		top: 249px;
		left: 18px;
		z-index: 1;
	}
	#vision article:nth-child(3) {
		background: white;
		margin-top: 145px;
		margin-bottom: 238px;
		padding-top: 181px;
		padding-bottom: 182px;
		padding-left: 80px;
	}
}

@media all and (min-width: 2500px){
	.hollow-box {
		left: calc(20% + 58px);
	}
	#intro-cryptobridge article {
		left: calc(25% + 82px);
	}
	#gateway section.row article:nth-child(1){
		left: calc(15% + 55px);
	}
}

@media all and (min-width: 3500px){
	.hollow-box {
		left: calc(30% + 58px);
	}
	#intro-cryptobridge article {
		left: calc(35% + 82px);
	}
	#gateway section.row article:nth-child(1){
		left: calc(27% + 55px);
	}
}