
.heading{
font-family: 'Montserrat', sans-serif;
	font-size:40px;
	font-weight: bolder;
}

.platform-mobile-laptop{
	display:none;
}
.platform-laptop{
	position: absolute;
	max-width:1130px;
	left:-125px;
	top:55px;
}
.platform-heading{
	margin-top:52px;
	margin-left:-2px;
}
.platform-description{
	margin-top:51px;
	font-size:16px;
	line-height:25px;
	margin-left:5px;
}

#services{
	background: #c01722;
	color:white;
	padding-top:103px;
	padding-bottom:105px;

}
.services-title{
	font-size:38px;
	margin-left:-60px;
	margin-top:-3px;
	font-weight:bolder;
	font-style: italic;
	font-family: 'Montserrat', sans-serif;
	padding-left: 11px;
	padding-top: 3px;
}

#ibinex_services{
	margin-top:52px;
	font-size:16.5px;
	line-height:28px;
	padding-left: 27px;
	font-weight: 500;
	padding-right: 11px;
	
}

#ibinex_ecosystem{
margin-top:31px;
font-size: 16.5px;
margin-left:5px;
word-spacing:1px;
}


.check-items{
	margin:0;
	margin-top:38px;
	margin-left:-33px;
}
.check-items li{
background: url(../images/services/ellipse.png) no-repeat left top;
padding-bottom: 31px;
list-style: none;
margin: 0;

}

.check-items li span{
	padding-left:35px;

	font-size:17px;
}


#platform{

	padding-top:60px;
	padding-bottom: 30px;

}



.crm-heading{
	font-size:38px;
	font-weight:bolder;
	margin-top:230px;
	margin-left:14px;

}

.crm-description{
	margin-left:20px;
	margin-top:50px;
	line-height:28px;
	font-size:15.9px;
	word-spacing:4px;
	width:600px;
	font-weight:400;
}

.crm-check-items{
	margin:0;
	margin-top:58px;
	margin-left:-25px;

}

.crm-check-items li{
background: url(../images/services/ellipse.png) no-repeat left top;
padding-bottom: 31px;
list-style: none;
margin: 0;

}

.crm-check-items li span{
	padding-left:36px;
	font-size:17px;
}

.crm-dashboard{
	margin-top:205px;
	margin-left:96px;
}



.cryptobridge{

	background: #132d5c;
	color:white;
	padding-bottom:158px;
	padding-top:120px;
	margin-top:12px;
}
.c3-logo{
	margin-top:-3px;
	margin-left:58px;

	
}

.c3-mobile-logo{
	display:none;
}


.crypto-heading{
margin-top:32px;
margin-left:4px;
font-size:38.5px;

}

.crypto-descritpion{
margin-top:50px;
line-height:27px;
font-size:16.5px;
word-spacing:1px;
margin-left:8px;
width:635px;
}



.ccp{
	padding-top:230px;
	padding-bottom:40px;
}

.ccp-heading{
margin-top:22px;
margin-left:13px;
font-size:38.5px;
}

.ccp-description{
margin-top:48px;
font-size:16.5px;
font-weight:500;
margin-left:11px;;
line-height:28px;
text-align:justify;
width:600px;
}

.ccp-cards{
	margin-top:35px;
	margin-left:10px;
}

.ccp-phone{
	margin-top:-105px;
	margin-left:130px;
}


#ca{
	background: #fbfbfb;
	padding-bottom:12px;

}

.custodian-right{
	padding-top:120px;
}

.ca-person{

	max-width:1000%;
	margin-top:-38px;
	margin-left:-256px;

}

.ca-heading{
margin-top:81px;
font-weight:700;
font-size:38.5px;
margin-left:3px;
}

.ca-description{
margin-top:50px;
margin-left:px;
width:700px;
word-spacing:2px;
font-size:16.5px;
line-height:26px;

}

.ca-items{
	list-style:none;
	margin:0;
	font-weight:500;
	padding:0;
	margin-left:px;
	margin-top:35px;
	word-spacing:1px;
}

.ca-items li{
	padding-bottom:31px;
}


@media only screen and (max-width: 768px) {

	#services{
		padding-bottom:37px;
	}

	.ccp-phone{
	display:none;
	}

	.crm-dashboard{

	display:none;
	}

	.platform-laptop{	
		display:none;
	
	}

	.platform-mobile-laptop{
		display:block;
		position:absolute;

		width:515px;
		margin-top:10px;
		margin-left:-5px;
	
	
	}

	.ca-description{

	width:100%;
	}

	.ca-person{

	display:none;
	
	}

	.services-title{
		margin-top:-35px;
		margin-left:0px;
	}
	

	#ibinex_ecosystem{
		margin-top:42px;
	}

	

	.platform-heading{

	margin-top:-6px;
	margin-left:0px;
	font-size:40px;

	}

	.platform-description{
		margin-top:55px;
		margin-left:0px;
	}

	.check-items{
		margin-top:35px;
		margin-left:-42px;
	}
	.check-items li{
		padding-bottom:20px;
	}
	.check-items li span{
		
	}

	.cryptobridge{
	
	padding-left:20px;
	padding-right:20px;
	margin:0;
	padding-bottom:0px;
	margin-top:5px;


	}

	.crypto-heading{
		margin-top:52px;
		margin-left:-20px;
		font-size:36px;
	}

	.c3-logo{
		display:none;
	}

	.c3-mobile-logo{
		display:block;
		margin-left:40px;
		margin-top:-58px;
	}
	
	.crypto-descritpion{

		margin-left:-10px;
		word-spacing:3px;
		font-size:16px;
		width:270px;
		padding-bottom:20px;
	
		
	}
	.ccp-heading{
		margin:0;
		margin-top:-166px;
	}
	.ccp-description{
		margin:0;
		margin-top:60px;
		text-align:justify;
		word-spacing:4px;
	}
	.ccp-cards{
		width:100%;
		margin:0;
		margin-top:15px;
		margin-left:0px;
	}

	


	.crm-heading{
		margin:0;
		margin-top:-51px;
	}

	.crm-description{
		margin:0;
		margin-left:0px;
		margin-top:45px;
		word-spacing:1px;
	}

	.crm-check-items{
		margin:0;
		margin-top:57px;
		margin-left:-38px;
	}
	.crm-check-items li{
		margin-top:10px;
		margin-left:px;
	}
	.crm-check-items li:nth-child(3){
		margin-top:0px;
		

	}

	.crm-check-items li:nth-child(4){
		margin-top:6px;

	}

	#ca{
		padding-bottom:35px;
	}

	.ca-heading{
		margin-top:-9px;
		margin-left:-2px;
	}

	.ca-description{
		margin-top:50px;
		line-height:27px;
		font-size:16px;
		font-weight:500;
		text-align:justify
		word-spacing:-3px;
		
	}
	
	.ca-items{
		margin-left:-3px;
		margin-top:-5px;
		word-spacing:-1px;
		font-size:16px;
		font-weight:500;
	}

	.ca-items li{
		margin-top:5px;
		line-height:24px;
	}
		.ca-items li:nth-child(2){
		margin-top:-20px;
		
	}

	#crm{
		margin-top:410px;
		padding-bottom:10px;
	}


	}


	@media only screen and (max-width: 768px) {
		
			.platform-laptop{

			}

			.crm-dashboard{
			
			}

	}

	@media only screen and (min-width: 768px) {
		
			

	}

	@media only screen and (max-width: 1366px) {
		
		
			
		.crm-dashboard{
			max-width:100%;
			margin-left:20px;
		}

		.ccp-phone{
		max-width:100%;
		margin:0;
		}	

		#crm{




		}
	

	}


		

	@media only screen and (max-width: 1200px) {
			
			

		#platform{
			
		}

		.platform-laptop{

width:100%;

position: absolute;

left:10px;

}

		.crm-dashboard{
			max-width:100%;

		}
		.ccp-phone{
				
				margin-top:50px;
		}
	}

	/*ariel-edit*/
@media (width: 320px){

	p#ibinex_ecosystem{
		margin-top: 31px;
		margin-left: 0px;
		font-weight: 600;
		word-spacing: -1px;
		padding-left: 6px;
		margin-bottom: 40px;
	}
	div#services{
		padding-left: 4px;
	}
	div#platform p{
		color: #76849E;
	}
	div#platform > div.row:first-child > div.col-md-6:nth-child(2){
		padding-left: 16px;
	}

	p.platform-description{
		padding-top: 0px;
		margin-top: 48px;
		font-weight: 600;
		word-spacing: 2px;
		text-align: justify;
		line-height: 1.7;
	}

	ul.check-items{
		margin-top: 29px;
	}

	ul.check-items > li{
		list-style-position:outside;
		list-style-type: none;
	}

	div#platform > div.row:first-child >div.col-md-6:nth-child(2){
		padding-right: 0px;
	} 

	ul.check-items > li{
		padding-left: 31px;
	}
	ul.check-items > li:first-child{
		word-spacing: 2px;
		background: url(../images/services/ellipse.png) no-repeat left top 3%;
	}
	ul.check-items > li:nth-child(2){
		padding-top: 10px;
		background: url(../images/services/ellipse.png) no-repeat left top 23%;
	}
	ul.check-items > li:nth-child(3){
		padding-top: 12px;
		background: url(../images/services/ellipse.png) no-repeat left top 21%;
	}
	ul.check-items > li:nth-child(4){
		padding-top: 8px;
		background: url(../images/services/ellipse.png) no-repeat left top 31%;
	}
	ul.check-items > li:nth-child(5){
		padding-top: 10px;
		background: url(../images/services/ellipse.png) no-repeat left top 38%;
	}
	ul.check-items > li:nth-child(6){
		padding-top: 9px;
		background: url(../images/services/ellipse.png) no-repeat left top 32%;
	}
	ul.check-items > li:nth-child(7){
		padding-top: 8px;
		background: url(../images/services/ellipse.png) no-repeat left top 24%;
	}

	ul.check-items > li > span{
		padding-left: 0px;
		font-weight: 600;
		font-size: 16px;
		line-height: 1.7;
		color: #76849E;
	}

	p.platform-description{
		padding-right: 14px;
	}

	div#crm{
		padding-right: 1px;
		margin-top: 409px;
	}
	div#crm p.crm-description{
		font-weight: 600;
		text-align: justify;
		padding-right: 0px;
		word-spacing: 1px;
	}
	h1.heading.crm-heading{
		font-weight: 800;
	}

	ul.crm-check-items{
		padding-left: 38px;
		margin-top: 55px;
		margin-bottom: 14px;
	}

	div#crm li span{
		padding-left: 0px;
	}
	div#crm li {
		padding-left: 27px;
		font-weight: 600;
		line-height: 1.7;
		color: #76849E;
	}
	div#crm ul.crm-check-items > li:first-child{
		padding-right: 0px;
		padding-bottom: 27px;
		background: url(../images/services/ellipse.png) no-repeat left top 3%;
	}
	div#crm ul.crm-check-items > li:nth-child(2){
		padding-right: 0px;
		margin-top: 0px;
		padding-top: 0px;
		padding-bottom: 28px
		background: url(../images/services/ellipse.png) no-repeat left top 8%;
	}
	div#crm ul.crm-check-items > li:nth-child(3){
		padding-bottom: 22px;
		background: url(../images/services/ellipse.png) no-repeat left top 10%;
	}
	div#crm ul.crm-check-items > li:nth-child(4){
		padding-bottom: 17px;
		background: url(../images/services/ellipse.png) no-repeat left top 12%;
	}
	div#crm ul.crm-check-items > li:nth-child(5){
		padding-top: 2px;
		background: url(../images/services/ellipse.png) no-repeat left top 18%;
	}

	div#services{
		padding-right: 1px;
	}
	p#ibinex_ecosystem{
		padding-left: 11px;
		line-height: 1.6;
	}
	div#platform{
		padding-top: 56px;
	}
	p.platform-description{
		padding-right: 14px;
		line-height: 1.8;
	}
}