
.heading{
font-family: 'Montserrat', sans-serif;
	font-size:40px;
	font-weight: bolder;
}

.platform-mobile-laptop{
	display:none;
}
.platform-laptop{
	position: absolute;
	max-width:1130px;
	left:-125px;
	top:55px;
}
.platform-heading{
	margin-top:52px;
	margin-left:-2px;
}
.platform-description{
	margin-top:51px;
	font-size:16px;
	line-height:25px;
	margin-left:5px;
}

#services{
	background: #c01722;
	color:white;
	padding-top:103px;
	padding-bottom:105px;

}
.services-title{
	font-size:38px;
	margin-left:-60px;
	margin-top:-3px;
	font-weight:bolder;
	font-style: italic;
	font-family: 'Montserrat', sans-serif;
	padding-left: 11px;
	padding-top: 3px;
}

#ibinex_services{
	margin-top:52px;
	font-size:16.5px;
	line-height:28px;
	padding-left: 27px;
	font-weight: 500;
	padding-right: 11px;
	
}

#ibinex_ecosystem{
margin-top:31px;
font-size: 16.5px;
margin-left:5px;
word-spacing:1px;
}


.check-items{
	margin:0;
	margin-top:38px;
	margin-left:-33px;
}
.check-items li{
background: url(../images/services/ellipse.png) no-repeat left top;
padding-bottom: 31px;
list-style: none;
margin: 0;

}

.check-items li span{
	padding-left:35px;

	font-size:17px;
}


#platform{

	padding-top:60px;
	padding-bottom: 30px;

}



.crm-heading{
	font-size:38px;
	font-weight:bolder;
	margin-top:230px;
	margin-left:14px;

}

.crm-description{
	margin-left:20px;
	margin-top:50px;
	line-height:28px;
	font-size:15.9px;
	word-spacing:4px;
	width:600px;
	font-weight:400;
}

.crm-check-items{
	margin:0;
	margin-top:58px;
	margin-left:-25px;

}

.crm-check-items li{
background: url(../images/services/ellipse.png) no-repeat left top;
padding-bottom: 31px;
list-style: none;
margin: 0;

}

.crm-check-items li span{
	padding-left:36px;
	font-size:17px;
}

.crm-dashboard{
	margin-top:205px;
	margin-left:96px;
}



.cryptobridge{

	background: #132d5c;
	color:white;
	padding-bottom:158px;
	padding-top:120px;
	margin-top:12px;
}
.c3-logo{
	margin-top:-3px;
	margin-left:58px;

	
}

.c3-mobile-logo{
	display:none;
}


.crypto-heading{
margin-top:32px;
margin-left:4px;
font-size:38.5px;

}

.crypto-descritpion{
margin-top:50px;
line-height:27px;
font-size:16.5px;
word-spacing:1px;
margin-left:8px;
width:635px;
}



.ccp{
	padding-top:230px;
	padding-bottom:40px;
}

.ccp-heading{
margin-top:22px;
margin-left:13px;
font-size:38.5px;
}

.ccp-description{
margin-top:48px;
font-size:16.5px;
font-weight:500;
margin-left:11px;;
line-height:28px;
text-align:justify;
width:600px;
}

.ccp-cards{
	margin-top:35px;
	margin-left:10px;
}

.ccp-phone{
	margin-top:-105px;
	margin-left:130px;
}


#ca{
	background: #fbfbfb;
	padding-bottom:12px;

}

.custodian-right{
	padding-top:120px;
}

.ca-person{

	max-width:1000%;
	margin-top:-38px;
	margin-left:-256px;

}

.ca-heading{
margin-top:81px;
font-weight:700;
font-size:38.5px;
margin-left:3px;
}

.ca-description{
margin-top:50px;
margin-left:px;
width:700px;
word-spacing:2px;
font-size:16.5px;
line-height:26px;

}

.ca-items{
	list-style:none;
	margin:0;
	font-weight:500;
	padding:0;
	margin-left:px;
	margin-top:35px;
	word-spacing:1px;
}

.ca-items li{
	padding-bottom:31px;
}


@media only screen and (max-width: 768px) {

	#services{
		padding-bottom:32px;
	}

	.ccp-phone{
	display:none;
	}

	.crm-dashboard{

	display:none;
	}

	.platform-laptop{	
		display:none;
	
	}

	.platform-mobile-laptop{
		display:block;
		position:absolute;

		width:515px;
		margin-top:-13px;
		margin-left:-5px;
	
	
	}

	.ca-description{

	width:100%;
	}

	.ca-person{

	display:none;
	
	}

	.services-title{
		margin-top:-36px;
		margin-left:-17px;
	}
	
	#ibinex_services{
		margin-top:37px;
		margin-left:-05px;
		
	}

	#ibinex_ecosystem{
		margin-top:29px;
		margin-left:12px;
		word-spacing:0.5px;
		line-height:27px;

	}

	.platform-heading{

	margin-top:-8px;
	margin-left:-1px;
	font-size:39.5px;

	}

	.platform-description{
		margin-top:48px;
		margin-left:0px;
		font-weight:500;
		line-height:28px;
	}

	.check-items{
		margin-top:33px;
		margin-left:-42px;
	}
	.check-items li{
		padding-bottom:40px;
	}

	.check-items li:nth-child(2){
		margin-top:-3px;

	}

	.check-items li:nth-child(3){
		margin-top:-6px;
	}

	.check-items li:nth-child(4){
		margin-top:-6px;
	}
	.check-items li:nth-child(5){
		margin-top:-32px;
	}

	.check-items li:nth-child(6){
		margin-top:-40px;
	}

	.check-items li:nth-child(7){
		margin-top:-30px;
	}

	.check-items li span{
		
	}

	.cryptobridge{
	
	padding-left:20px;
	padding-right:20px;
	margin:0;
	padding-bottom:23px;
	margin-top:15px;



	}

	.crypto-heading{
		margin-top:49px;
		margin-left:-22px;
		font-size:36px;
	}

	.c3-logo{
		display:none;
	}

	.c3-mobile-logo{
		display:block;
		margin-left:40px;
		margin-top:-58px;
	}
	
	.crypto-descritpion{

		
		word-spacing:1px;
		font-size:16.5px;
		width:300px;
		padding-bottom:20px;
		margin-left:-15px;
		margin-top:51px;
		line-height:28px;
			
	}
	.ccp-heading{
		margin:0;
		margin-top:-167px;
	}
	.ccp-description{
		margin:0;
		margin-top:62px;
		width:100%;
		
	}
	.ccp-cards{
		width:100%;
		margin:0;
		margin-top:15px;
		margin-left:5px;
	}

	.crm-heading{
		margin:0;
		margin-top:-75px;
	}

	.crm-description{
		margin:0;
		margin-left:-5px;
		width:280px;
		font-weight:500;

		margin-top:48px;
		word-spacing:7px;
	}

	.crm-check-items{
		margin:0;
		margin-top:57px;
		margin-left:-42px;
	}
	.crm-check-items li{
		margin-top:10px;
		margin-left:px;
	}
	.crm-check-items li:nth-child(2){
		margin-top:5px;
	}
	.crm-check-items li:nth-child(3){
		margin-top:0px;
	}

	.crm-check-items li:nth-child(4){
		margin-top:6px;
	}

	.crm-check-items li:nth-child(5){
		margin-top:3px;
	}

	#ca{
		padding-bottom:20px;
	}

	.ca-heading{
		margin-top:-10px;
		margin-left:-1px;
		font-size:39px;
	}

	.ca-description{
		margin-top:52px;
		line-height:28px;
		font-size:16px;
		font-weight:500;
	
		text-align:justify
		word-spacing:-5px;
		
	}
	
	.ca-items{

		margin-left:0px;
		margin-top:-12px;
		word-spacing:-1px;
		font-size:16px;
		font-weight:500;
	}

	.ca-items li{
		margin-top:5px;
		line-height:24px;
		font-weight:600;
	}

	.ca-items li:nth-child(2){
		margin-top:-20px;	
	}

	

	#crm{
		margin-top:410px;
		padding-bottom:10px;
	}


	}

	@media only screen and (max-width: 1366px) {
		
		
			
		.crm-dashboard{
			max-width:100%;
			margin-left:20px;
		}

		.ccp-phone{
		max-width:100%;
		margin:0;
		}	

	

	}


		

	@media only screen and (max-width: 1200px) {
			
			


		.platform-laptop{

			width:100%;

			position: absolute;

			left:10px;

			}

		.crm-dashboard{
			max-width:100%;

		}
		.ccp-phone{
				
				margin-top:50px;
		}
	}

	/*ariel-edit*/
