
.heading{
font-family: 'Montserrat', sans-serif;
	font-size:40px;
	font-weight: bolder;
}

.platform-mobile-laptop{
	display:none;
}
.platform-laptop{
	position: absolute;
	max-width:1130px;
	left:-130px;
	top:58px;
}
.platform-heading{
	margin-top:52px;
	margin-left:-2px;
}
.platform-description{
	margin-top:49px;
	font-size:16px;
	line-height:25px;
	margin-left:5px;
}

#services{
	background: #c01722;
	color:white;
	padding-top:103px;
	padding-bottom:105px;

}
.services-title{
	font-size:39px;
	margin-left:-45px;
	margin-top:-3px;
	font-weight:bolder;
	font-style: italic;
	font-family: 'Montserrat', sans-serif;
}

#ibinex_services{
	margin-top:58px;
	font-size:17px;
	
}

#ibinex_ecosystem{
margin-top:32px;
font-size: 17px;
}


.check-items{
	margin:0;
	margin-top:40px;
	margin-left:-38px;
}
.check-items li{
background: url(../images/services/ellipse.png) no-repeat left top;
padding-bottom: 28px;
list-style: none;
margin: 0;

}

.check-items li span{
	padding-left:35px;
	font-size:17px;
}


#platform{

	padding-top:60px;
	padding-bottom: 30px;

}



.crm-heading{
	font-size:38px;
	font-weight:bolder;
margin-top:150px;
margin-left:13px;

}

.crm-description{
	margin-left:15px;
	margin-top:50px;
	line-height:28px;
	font-size:15.9px;

}

.crm-check-items{
	margin:0;
	margin-top:60px;
	margin-left:-30px;

}

.crm-check-items li{
background: url(../images/services/ellipse.png) no-repeat left top;
padding-bottom: 28px;
list-style: none;
margin: 0;

}

.crm-check-items li span{
	padding-left:36px;
	font-size:17px;
}

.crm-dashboard{
	margin-top:125px;
	margin-left:90px;
}



.cryptobridge{

	background: #132d5c;
	color:white;
	padding-bottom:155px;
	padding-top:120px;
	margin-top:12px;
}
.c3-logo{
	margin-left:60px;

}

.c3-mobile-logo{
	display:none;
}


.crypto-heading{
margin-top:34px;
font-size:39px;
}

.crypto-descritpion{
margin-top:50px;
line-height:27px;
font-size:16px;
margin-left:5px;
}



.ccp{
	padding-top:230px;
	padding-bottom:40px;
}

.ccp-heading{
margin-top:20px;
margin-left:15px;
font-size:39px;
}

.ccp-description{
margin-top:50px;
font-size:16px;
margin-left:10px;;
line-height:28px;
}

.ccp-cards{
	margin-top:35px;
	margin-left:10px;
}

.ccp-phone{
	margin-top:-105px;
	margin-left:130px;
}


#ca{
	background: #fbfbfb;
	padding-bottom:12px;

}

.custodian-right{
	padding-top:120px;
}

.ca-person{

	max-width:1000%;
	margin-top:-40px;
	margin-left:-250px;

}

.ca-heading{
margin-top:80px;
font-weight:700;
font-size:39px;
margin-left:3px;
}

.ca-description{
margin-top:50px;
width:700px;
word-spacing:2px;
line-height:26px;

}

.ca-items{
	list-style:none;
	margin:0;

	padding:0;
	margin-left:3px;
	margin-top:35px;
	word-spacing:2px;
}

.ca-items li{
	padding-bottom:31px;
}


@media only screen and (max-width: 768px) {

	#services{
		padding-bottom:37px;
	}

	.ccp-phone{
	display:none;
	}

	.crm-dashboard{

	display:none;
	}

	.platform-laptop{	
		display:none;
	
	}

	.platform-mobile-laptop{
		display:block;
		position:absolute;

		width:515px;
		margin-top:10px;
		margin-left:-5px;
	
	
	}

	.ca-description{

	width:100%;
	}

	.ca-person{

	display:none;
	
	}

	.services-title{
		margin-top:-35px;
		margin-left:0px;
	}
	
	#ibinex_services{
	
	margin-top:42px;

	}

	#ibinex_ecosystem{
		margin-top:42px;
	}

	

	.platform-heading{

	margin-top:-6px;
	margin-left:0px;
	font-size:40px;

	}

	.platform-description{
		margin-top:55px;
		margin-left:0px;
	}

	.check-items{
		margin-top:35px;
		margin-left:-42px;
	}
	.check-items li{
		padding-bottom:20px;
	}
	.check-items li span{
		
	}

	.cryptobridge{
	
	padding-left:20px;
	padding-right:20px;
	margin:0;
	padding-bottom:0px;
	margin-top:5px;


	}

	.crypto-heading{
		margin-top:52px;
		margin-left:-20px;
		font-size:36px;
	}

	.c3-logo{
		display:none;
	}

	.c3-mobile-logo{
		display:block;
		margin-left:40px;
		margin-top:-58px;
	}
	
	.crypto-descritpion{

		margin-left:-10px;
		word-spacing:3px;
		font-size:16px;
		width:270px;
		padding-bottom:20px;
	
		
	}
	.ccp-heading{
		margin:0;
		margin-top:-166px;
	}
	.ccp-description{
		margin:0;
		margin-top:60px;
		text-align:justify;
		word-spacing:4px;
	}
	.ccp-cards{
		width:100%;
		margin:0;
		margin-top:15px;
		margin-left:0px;
	}

	


	.crm-heading{
		margin:0;
		margin-top:-51px;
	}

	.crm-description{
		margin:0;
		margin-left:0px;
		margin-top:45px;
		word-spacing:1px;
	}

	.crm-check-items{
		margin:0;
		margin-top:57px;
		margin-left:-38px;
	}
	.crm-check-items li{
		margin-top:10px;
		margin-left:px;
	}
	.crm-check-items li:nth-child(3){
		margin-top:0px;
		

	}

	.crm-check-items li:nth-child(4){
		margin-top:6px;

	}

	#ca{
		padding-bottom:35px;
	}

	.ca-heading{
		margin-top:-9px;
		margin-left:-2px;
	}

	.ca-description{
		margin-top:50px;
		line-height:27px;
		font-size:16px;
		font-weight:500;
		text-align:justify
		word-spacing:-3px;
		
	}
	
	.ca-items{
		margin-left:-3px;
		margin-top:-5px;
		word-spacing:-1px;
		font-size:16px;
		font-weight:500;
	}

	.ca-items li{
		margin-top:5px;
		line-height:24px;
	}
		.ca-items li:nth-child(2){
		margin-top:-20px;
		
	}

	#crm{
		margin-top:410px;
		padding-bottom:10px;
	}


	}


	@media only screen and (max-width: 768px) {
		
			.platform-laptop{

			}

			.crm-dashboard{
			
			}

	}

	@media only screen and (min-width: 768px) {
		
			

	}

	@media only screen and (max-width: 1366px) {
		
		
			
		.crm-dashboard{
			max-width:100%;
			margin-left:20px;
		}

		.ccp-phone{
		max-width:100%;
		margin:0;
		}	

		#crm{




		}
	

	}


		

	@media only screen and (max-width: 1200px) {
			
			

		#platform{
			
		}

		.platform-laptop{

width:100%;

position: absolute;

left:10px;

}

		.crm-dashboard{
			max-width:100%;

		}
		.ccp-phone{
				
				margin-top:50px;
		}
	}