nav{
  height: 310px;
  background-color: black;
}

footer{
  height: 310px;
  background-color: black;
}

@font-face {
  font-family: pricingFont;
  src: url('../fonts/Montserrat-ExtraBold.otf');

}

.text-gray{
  color: #6B7C93;
}

@media only screen and (min-width: 768px) {
  div.container-fluid{
    padding: 0px;
    margin-right: 17.5%;
  }


  #pricing-section{
    font-family: 'Montserrat', 'Sans-Serif';
    background-color: #F6F6F6;



    #pricing-text{
      padding: 147px 0px 0px 29px;
      div.row:first-child{
        padding-right: 8px;
      }
    }
    article.col-md-12.col-12:first-child{
      padding: 0px 20px 0px 0px;
      padding-right: 45px;

      h2{
        font-family: pricingFont;
        line-height: 6px;
        font-size: 38px;
        margin: 59px 0px 68px 0px;
        margin-bottom: 68px;
        margin-top: 59px;
        //font-weight: bolder;
      }
      p{
        text-align: justify;
        line-height: 1.7;
        margin-bottom: 27px;
        font-size: 1rem;
        letter-spacing: .4px;
        line-height: 167%;
        text-align: justify;
        line-height: 1.7;
        margin-bottom: 27px;
        span{
          font-weight: 600;
          letter-spacing: .5px;
          line-height: 150%;
          font-size: 16.5px;
          word-spacing: -2px;
          letter-spacing: -0.1px;
          
        }
      }
      ul{
        padding-left: 0px;
        //list-style-image: url("../ellipse.png");
        li{
          list-style-position: outside;
          font-size: 101%;
          //margin-bottom: 20px;

          //padding-bottom: 20px;


          padding: 0px 10px 38px 31px;
          /* reset styles (optional): */
          list-style: none;
          margin: 0;
          // word-spacing: 3px;
          line-height: 1.6;
          padding-bottom: 30px;
        }
        li:first-child{
          padding-bottom: 17px;
          text-align: justify;
          background: url("../ellipse.png") no-repeat left top 15%;
          word-spacing: 1.5px;
          padding-right: 33px;
          font-weight: 500;
          padding-bottom: 15px;
          line-height: 1.6;
          padding-top: 4px;
          padding-right: 4px;
        }
        li:nth-child(2){
          margin-bottom: 5px;
          background: url("../ellipse.png") no-repeat right 99.7% top 48%;
          padding-bottom: 21px;
          padding-top: 14px;
          word-spacing: 1.7px;
          font-size: 16px;
          padding-top: 17px;

        }
      }
      margin-bottom: 0px;
    }
    .col-md-12.col-12:nth-child(2){
      h2{
        margin-bottom: 69px;
      }
      p:first-child{
        padding-right: 8px;
        margin-bottom: 31px;
        span{
          padding-right: 55px;
        }
      }
      p:nth-child(2){
        margin-bottom: 4px;
        span{

        }
      }
    }
  }

  div.text-content{
    margin: 210px 380px;
    margin-top: 190px;
    margin-left: 385px;
    margin-bottom: 208px;
    article#setup-article{
      font-size: 19px;
      padding-right: 105px;
      h2{
        font-size: 43px;
        margin-bottom: 47px;
      }
      p:first-child{
        margin-bottom: 29px;
      }
      p:nth-child(2){
        margin-bottom: 28px;
      }
      p:last-child{
        text-align: justify;
        padding-right: 28px;
        padding-top: 12px;

      }
    }
    article#onboarding-article{
      font-size: 19px;
      h2{
        font-size: 43px;
        margin-bottom: 47px;
      }
      p:first-child{
        margin-bottom: 28px;
        text-align: justify;
        margin-right: 10px;
      }
      p:nth-child(2){
        font-size: 19px;
        margin-right: 7px;
        word-spacing: -1px;
        padding-right: 6px;
      }
    }
    .col-lg-6{
      h2{
        margin-bottom: 3.2%;
      }
    }
  }

  h2{
    font-weight: bolder;
  }
}


//@media screen and (max-width: 767px){
@media only screen and (max-width: 767px) {
	.hide-on-mobile{
		display: none;
	}
  div.container-fluid{
    padding-right: 0px;
  }
  article{
    padding-top: 68px;
    padding-right: 16px;
    padding-left: 29px;
    h2{
      font-family: Montserrat, Sans-Serif;
      font-size: 38px;
      font-weight: 400;
      margin-bottom: 7px;
    }
    p{
      padding-top: 8px;
      padding-right: 0px;
      margin-bottom: 33px;
      text-align: justify;

      span{
        font-family: 'Montserrat', 'Sans-Serif';
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 1.8;
        text-align: justify;
        font-family: 'Montserrat', 'Sans-Serif';

      }
    }

    ul{
      list-style: none;
      padding-left: 1px;

      li:first-child{
        background: url("../ellipse.png") no-repeat left top 7%;;
        padding-left: 28px;
        font-size: 17px;
        margin-bottom: 32px;
        text-align: justify;
      }
      li:nth-child(2){
        padding-left: 28px;
        font-size: 18px;
        padding-bottom: 1px;
        background: url("../ellipse.png") no-repeat left top 8%;
        text-align: justify;
      }
    }
  }
	p{
		//text-align: justify;

	}
}

