

div#security{
	padding: 0px;

	div#bg-blue{
		background-color: #152C58;
		color: white;
		font-family: Verdana, Sans-Serif;
		margin-bottom: 120px;

		h2{
			font-size: 1.67vw;
			font-weight: bold;
			font-style: italic;
			margin: 85px 0px 70px;
			text-align: center;
		}
		span{
			font-size: 0.625vw;
		}

		p{
			margin: 0px 300px 154px;
			text-align: center;
		}
	}

	div.text-content{
		margin: 0 310px 54px;
		.col-lg-6{
			h3{
				margin-bottom: 57px;
			}
			p{
				text-align: justify;
			}
		}
	}
	
	div#bg-gray{
		background-color: #F6F6F7;
		margin: 0px;
		h3{
			margin: 200px 0 47px;
		}
		p{
			margin-bottom: 180px;
		}

	}
}

