@font-face {
	font-family: $mr-eaves-xl-bold; 
	src: url(./../fonts/MrEavesXLModOT-Bold.ttf);
}

@font-face {
	font-family: $aller-italic;
	src: url(./../fonts/Aller_It.ttf);
}

@font-face {
	font-family: $playfairdis-bold-italic;
	src: url(./../fonts/PlayfairDisplay-BoldItalic.ttf);
}