// fonts
$montserrat: 'Montserrat', sans-serif;
$mr-eaves-xl-bold: 'Mr Eaves XL Mod OT';
$aller-italic: 'Aller Italic';
$playfairdis-bold-italic: 'Play Fair Display Bold Italic';

// desktop
$about-hero-bg: #152c58;
$about-team-bg: #f6f6f8;
$about-header-size: 38.5px;
$about-p-size: 20px;
$about-heading-color: #6b7c93;

// mobile
$m-about-header-size: 39px;
$m-about-p-size: 17px;

// about slider var
$default-diff:  12px;
$default-width: 100%;
$default-min: 10%;