#about {
	overflow: hidden;

	h1 {
		font-size: $about-header-size;
		font-family: $montserrat;
		font-weight: 700;
		// font-size: 32px;
	}

	p {
		font-size: $about-p-size;
		font-family: $montserrat;
		letter-spacing: 1px;
		// font-size: 12px;
	}

	#transparency {
		max-height: 944px;
		overflow: hidden;
		
		.img-lockup {
			width: 44.91%; //860px;

			img {
				width: 100%;
			}
		}

		.transparency-lockup {
			flex-grow: 1; //55.09%
			background-color: $about-hero-bg;
			align-items: center;
		}

		.transparency {
			color: #fff;
			width: 598px;
			margin-left: 110px;
			text-align: justify;

			h1 {
				margin-bottom: 48px;
			    margin-top: 28px;
			    letter-spacing: 0.4px;
			    padding-left: 0.5px;
			}

			p {
			    padding-left: 2px;
				font-size: 16px;
			    line-height: 27.5px;
			    margin: 0 0 30px;
			    font-weight: 500;
			    letter-spacing: 0.9px;
			    word-spacing: 1px;

			    &:nth-child(2) {
			    	letter-spacing: 0.199px;
    				word-spacing: 0.5px;
    				margin-bottom: 28px;
    				line-height: 28px;
			    }

			    &:nth-child(3) {
					word-spacing: 0.7px;
				    line-height: 28px;
				    letter-spacing: 0.2px;
			    	margin-bottom: 27px;
			    }

			    &:nth-child(4) {
			    	font-size: 15px;
				    letter-spacing: 1.1px;
				    word-spacing: -2.4px;
    				line-height: 28px;
    				margin-bottom: 29px;
			    }

			    &:nth-child(5) {
			    	letter-spacing: 0.1px;
				    word-spacing: 1.27px;
				    line-height: 28px;
			    }
			}
		}
	}

	#media-coverage {
		// height: 640px;
		padding: 154px 0 65px;
		
		.content {
			width: 60%;
			margin: auto;

			h1 {
				font-size: 37px;
			    letter-spacing: 0.2px;
			    margin-right: 27px;
			    font-weight: 700;
			    text-align: center;
			    margin-bottom: 112px;
			    margin-top: 1px;
			    word-spacing: 4px;
			}
		}

		.media-lockup {
			margin: 29px 0;

			&:nth-child(2) img {
				&:first-child {
					margin-top: -10px;
					margin-left: -24px;
				}

				&:nth-child(2) {
					margin-left: 5px;
					margin-top: -10px;
				}

				&:nth-child(3) {
					margin-left: -1px;
					margin-top: -7px;
				}

				&:nth-child(4) {
					margin-top: -2px;
				}

				&:nth-child(5) {
					margin-top: 5px;
					margin-left: -2px;
				}

				&:nth-child(6) {
					margin-top: -3px;
					margin-left: 3px;
				}
			}

			&:nth-child(3) {
				margin-left: -23px;
			} 
		}
	}

	#team {
		background-color: $about-team-bg;
		padding-top: 143px;

		.mobile {
			display: none;
		}

		#executive-team {
			max-width: 1325px;
		    padding: 57px 80px 104px;
	
			h1 {
				margin-top: 0;
				margin-bottom: 12px;
				letter-spacing: -2px;
				line-height: 50px;

			    span {
			    	letter-spacing: 0.3px;

			    	&:last-child {
			    		letter-spacing: -1.4px;
			    	}
			    }
			}
			
			p {
				color: $about-heading-color;
				font-size: 15px;
			}
			
			h3 {    
				margin-top: 0;
			    margin-bottom: 6px;
			    letter-spacing: 0.6px;
			    word-spacing: -3px;
			    font-size: 21px;
			}

			.heading {
				font-weight: 600;
			    font-size: 16px;
			    letter-spacing: 0.068px;
			    word-break: break-all;
			    line-height: 23px;
			    word-spacing: 0.9px;
			}

			article:first-child {
				margin-bottom: 53.5px;
			}
			
			article {
				h4 {
					font-size: 19.5px;
				    letter-spacing: 1.1px;
				    word-spacing: 1;
				    margin-bottom: 9px;
	    		}

	    		p {
	    			line-height: 28px;
				    letter-spacing: -0.1px;
				    word-spacing: -0px;
				    font-size: 14px;
				    margin-bottom: 14px;
				    margin-left: -1px;
	    		}

	    		.links {
	    			a {
	    				letter-spacing: -0.7px;
    					font-size: 14px;
    					text-decoration: underline;
					    color: #3b55e6;
					    font-style: italic;

    					&:last-child {
    						margin-left: 30px;
    						letter-spacing: -1px;
    					}
	    			}
	    		}
			}

			.designation {
				margin-bottom: 9px;
			    font-size: 15px;
			    letter-spacing: 0px;
			    word-spacing: 0px;

			    span {
			    	letter-spacing: 0.5px;
    				word-spacing: -3px;
			    }
			}

			.card {
				border: none;

				&:after {
			        position: absolute;
			        content: '';
			        display: block;
			        top: 0;
			        left: 0;
			        right: 0;
			        bottom: 0;
			        background: rgba(255,255,255,.5);
			    }

			    &.activeNow:after,
			    &:last-child:after {
			    	display: none;
			    }
			}

			.executive-slider {
				position: relative;
    			margin-left: -1px;

				.slider-control {
					position: absolute;
				    top: 8px;
    				right: -14px;
					
					a {
						padding: 0 7px;
					}

					img {
						width: 24px;
					}
				}
			}

		    .card-stack {
		        position: absolute;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    top: 0;
		        
		        .card-list {
		            li {
		                transition: all 100ms ease-in-out;
		                border-radius: 2px;
		                position: absolute;
		                list-style: none;
		                left: 0;
		                margin: 0 auto;
		                overflow: hidden;
		                background: none;

		                &:nth-child(1) {
		                    top: 16px;
		                    width: 407px;
		                    height: 431px;
		                    left: auto;
		                    right: 93px;
		                    /* animation: scaleCard 100ms; */
		                }
		                &:nth-child(2) {
		                    top: 209px;
						    left: 65px;
						    width: 385px;
						    height: 383px;
		                }
		                &:nth-child(3) {
		                    top: 75px;
		                    left: -35px;
		                }
		            }

		        }
					
				&:hover {
					> .buttons.prev {
						display: block;
						animation: bounceInLeft 200ms; 
					}

					> .buttons.next {
						display: block;
						animation: bounceInRight 200ms; 
					}
				}
		    }
		}

		hr {
			width: 480px;
    		border-top: 2px solid #8c9bec;
		}

		#advisory-board {
			padding: 10px 0;
			
			.container {
				max-width: 1196px;

				.row {
					margin-right: -14px;
				    margin-left: -18px;

				    .col-md-3 {
				    	padding: 0px 11px;
				    }
				}
			}

			h1 {
				text-align: center;
			    font-weight: 800;
			    margin-top: 21px;
			    letter-spacing: -2.6px;
			    word-spacing: 2px;
			    margin-right: 2px;

				span {
					letter-spacing: -1px;
					font-weight: 600;
					font-family: $playfairdis-bold-italic;
				}
			}
			
			.board-lockup {
				padding: 25px 0 141px;
			}

			img {
				// width: 100%;
				width: 279px;
    			height: 338px;
			}
			
			article {
				text-align: center;
			    padding: 39px 0 5px;
			    width: 286px;
			    // margin: 0 -7px;
			    font-family: $montserrat;
			}

			.name, .designation {
				color: #000;
			}

			.name {
				font-size: 17.5px;
				margin: 0;
				font-weight: 700;
				letter-spacing: 0px;
			    word-spacing: -1px;
			    padding-right: 10px;
			}

			.designation {
				word-spacing: -0.1px;
			    margin-left: -4.9px;
			    letter-spacing: 0.5px;
			    font-size: 14.1px;
			    font-weight: 600;
			    padding-left: 1px;
			    margin-top: -1px;
			}

			.col-md-3 {
				padding-left: 10px!important;

				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(7),
				&:last-child {
					.name {	
						font-size: 17.5px;
					    padding-right: 3px;
						letter-spacing: 0px;
					}
				}


				&:nth-child(4),
				&:last-child {
					.name {	
					    padding-right: 9px;
					}
				}

				&:nth-child(4),
				&:nth-child(7) {
					padding:0 13px!important;
				}
			
				&:nth-child(2) {
					.designation {
						margin-left: -9px;
					    word-spacing: 0px;
					    letter-spacing: 0.4px;
					    line-height: 20px;
					    font-size: 14.5px;
					    padding-left: 4px;
					    margin-top: -1px;
					}
				}

				&:nth-child(3) {

					.designation {
						font-size: 17px;
					    word-spacing: 1px;
					    line-height: 19px;
					    letter-spacing: -1.0px;
					    font-weight: 500;

					    span {
					    	line-height: 20px;
						    font-size: 18px;
						    padding: 0 22px;
						    overflow: hidden;
						    word-break: break-word;
						    letter-spacing: -1.8px;
						    display: inline-block;
						    padding-right: 32px;
						    padding-left: 30px;
						    word-spacing: 5px;
					    }
					}
				}

				&:nth-child(4) {
					.designation {
						font-size: 16px;
					    line-height: 19px;
					    letter-spacing: -0.5px;
					    word-spacing: -1px;
					    padding: 0 14px 0 9px;
					}
				}
			}
		}
	}
}

.transformThis {
    animation: scaleDown 500ms;
}

.transformPrev {
    animation: scaleUp 100ms;
}


//animations
@keyframes scaleUp {
    0% {transform: scale(1.2) translateY(50px); opacity: 0; }
    20% {transform: scale(1.15) translateY(40px); opacity: 0.10;}
    40% {transform: scale(1.10) translateY(30px); opacity: 0.20;}
    60% {transform: scale(1.05) translateY(20px); opacity: 0.40;}
    80% {transform: scale(1.01) translateY(10px); opacity: 0.80;}
    100% {transform: scale(1) translateY(0); opacity: 1;}
}

@keyframes scaleDown {
    0% {transform: scale(1) translateY(0); opacity: 1; }
    20% {transform: scale(1.01) translateY(20px); opacity: 0.80;}
    40% {transform: scale(1.05) translateY(40px); opacity: 0.40;}
    60% {transform: scale(1.10) translateY(60px); opacity: 0.20;}
    80% {transform: scale(1.15) translateY(80px); opacity: 0.10;}
    100% {transform: scale(1.2) translateY(100px); opacity: 0;}
}

@keyframes scaleCard {
    0%   {top:5px;}
    100% {top:24px;}    
}

@keyframes bounceInLeft {
  0% { opacity: 0; transform: translateX(40px); } 
  // 60% { opacity: 1; transform: translateX(20px); } 
  // 80% { transform: translateX(20px); } 
  100% { transform: translateX(0); } 
}

@keyframes bounceInRight {
  0% { opacity: 0; transform: translateX(-40px); } 
  // 60% { opacity: 1; transform: translateX(-20px); } 
  // 80% { transform: translateX(20px); } 
  100% { transform: translateX(0); } 
}


