nav{
  height: 310px;
  background-color: black;
}

footer{
  height: 310px;
  background-color: black;
}

span, li{
  color: #6B7C93;
}

@media only screen and (min-width: 768px) {
  div.container-fluid{
    padding: 0px;
    margin-right: 17.5%;
  }


  #pricing-section{
    font-family: 'Montserrat', 'Sans-Serif';
    background-color: #F6F6F6;



    #pricing-text{
      padding: 147px 0px 0px 29px;
      div.row:first-child{
        padding-right: 8px;
      }
    }
    article.col-md-12.col-12:first-child{
      padding: 0px 20px 0px 0px;
      padding-right: 45px;

      h2{
        font-family: 'Montserrat', 'Sans-Serif';
        font-weight: 800;
        line-height: 6px;
        font-size: 38px;
        margin: 59px 0px 68px 0px;
        margin-bottom: 71px;
        margin-top: 59px;
        //font-weight: bolder;
      }
      p{
        text-align: justify;
        line-height: 1.7;
        margin-bottom: 27px;
        font-size: 1rem;
        letter-spacing: .4px;
        line-height: 167%;
        text-align: justify;
        line-height: 1.7;
        margin-bottom: 27px;
        span{
          font-weight: 600;
          letter-spacing: .5px;
          line-height: 150%;
          font-size: 16.5px;
          word-spacing: -2px;
          letter-spacing: -0.1px;
          
        }
      }
      ul{
        padding-left: 0px;
        //list-style-image: url("http://localhost:8000/img/services/ellipse.png");
        li{
          list-style-position: outside;
          font-size: 101%;
          //margin-bottom: 20px;

          //padding-bottom: 20px;


          padding: 0px 10px 38px 31px;
          /* reset styles (optional): */
          list-style: none;
          margin: 0;
          // word-spacing: 3px;
          line-height: 1.6;
          padding-bottom: 30px;
        }
        li:first-child{
          padding-bottom: 17px;
          text-align: justify;
          background: url("http://localhost:8000/img/services/ellipse.png") no-repeat left top 15%;
          word-spacing: 1.5px;
          padding-right: 33px;
          font-weight: 500;
          padding-bottom: 15px;
          line-height: 1.6;
          padding-top: 4px;
          padding-right: 4px;
        }
        li:nth-child(2){
          margin-bottom: 5px;
          background: url("http://localhost:8000/img/services/ellipse.png") no-repeat right 99.7% top 48%;
          padding-bottom: 21px;
          padding-top: 14px;
          word-spacing: 1.7px;
          font-size: 16px;
          padding-top: 17px;

        }
      }
      margin-bottom: 0px;
    }
    .col-md-12.col-12:nth-child(2){
      h2{
        margin-bottom: 69px;
      }
      p:first-child{
        padding-right: 8px;
        margin-bottom: 31px;
        span{
          padding-right: 55px;
          padding-top: 2px;
        }
      }
      p:nth-child(2){
        margin-bottom: 4px;
        padding-top: 3px;
        span{

        }
      }
    }
  }

  div.text-content{
    margin: 210px 380px;
    margin-top: 190px;
    margin-left: 385px;
    margin-bottom: 208px;
    article#setup-article{
      font-size: 17px;
      padding-right: 105px;
      font-weight: 500;
      h2{
        font-size: 38.6px;
        margin-bottom: 47px;
        padding-top: 7px;
      }
      p:nth-child(2){
        margin-bottom: 28px;
        padding-top: 3px;
      }
      p:nth-child(3){
        padding-top: 6px;
      }
      p:last-child{
        text-align: justify;
        padding-right: 28px;
        padding-top: 12px;
        span{
          line-height: 1.7;
        }
      }
    }
    article#onboarding-article{
      padding-left: 13px;
      font-size: 17px;
      font-weight: 500;
      text-align: justify;
      p{
        word-spacing: -2px;
      }
      h2{
        font-size: 38.6px;
        margin-bottom: 47px;
        padding-top: 7px;
      }
      p:first-child{
        margin-bottom: 28px;
        text-align: justify;
        margin-right: 10px;
      }
      p:nth-child(2){
        
        margin-right: 7px;
        word-spacing: -2px;
        padding-right: 6px;
        padding-top: 12px;
      }
      p.first-paragraph{
        padding-top: 5px;
        padding-right: 1px;
      }
      p:last-child{
        padding-top: 19px;
      }
    }
    .col-lg-6{
      h2{
        margin-bottom: 3.2%;
      }
    }
  }

  h2{
    font-weight: bolder;
  }
}


//@media screen and (max-width: 767px){
@media only screen and (max-width: 767px) {
	.hide-on-mobile{
		display: none;
	}
  div.container-fluid{
    padding-right: 0px;
  }
  article.col-md-12.col-12:first-child{
    padding-top: 38px;
    padding-right: 15px;
    padding-left: 15px;
    h2{
      font-family: Montserrat, Sans-Serif;
      font-size: 38.6px;
      font-weight: 700;
      margin-bottom: 7px;
    }
    p{
      padding-top: 8px;
      padding-right: 0px;
      margin-bottom: 27px;
      text-align: justify;

      span{
        font-family: 'Montserrat', 'Sans-Serif';
        font-weight: 600;
        font-size: 16px;
        //letter-spacing: 1px;
        line-height: 1.8;
        text-align: justify;

      }
    }

    ul{
      list-style: none;
      font-family: 'Montserrat', 'Sans-Serif';
      padding-left: 0px;
      margin-bottom: 0px;


      li:first-child{
        background: url("http://localhost:8000/img/services/ellipse.png") no-repeat left top 7%;;
        padding-left: 28px;
        font-size: 17px;
        margin-bottom: 32px;
        text-align: justify;
        font-weight: 500;
        word-spacing: -1.7px;
        line-height: 1.69;
        margin-bottom: 28px;
        //padding-top: 0px;
      }
      li:nth-child(2){
        padding-left: 28px;
        font-size: 17px;
        padding-bottom: 1px;
        background: url("http://localhost:8000/img/services/ellipse.png") no-repeat left top 9%;
        text-align: justify;
        line-height: 1.6;
        font-weight: 500;
        padding-top: 3px;
      }
    }
  }
  article.col-md-12.col-12:nth-child(2){
    padding-top: 63px;
    padding-left: 13px;

    h2{
      margin-bottom: 40px;
    }
  }
  	section#pricing-section{
  		div#pricing-text{
        padding-right: 15px;
  			article.col-md-12.col-12:first-child{
  				h2{
  					padding-left: 1px;
  				}
  				p:first-child{
  					padding-right: 16px;
  				}
  				ul{
  			
            li:nth-child(2){
              font-size: 17px;
              font-weight: 500;
              line-height: 1.7;
              padding-top: 0px;
            }
  				}
  			}
  			article#our-fees-article{
  				padding-left: 11px;
  				padding-top: 63px;
          padding-right: 0px;
  				p.first-paragraph{
  					padding-left: 3px;
  					padding-right: 14px;
            padding-top: 41px;
  					span{
  						font-size: 17px;
              line-height: 1.7;
  					}
  				}
          p:last-child{
            padding-top: 2px;
            padding-left: 3px;
          }
  			}
  		}
  	}

	section#setup-onboarding-section{
		padding-top: 147px;
    margin-bottom: 51px;
		article#setup-article{
      padding-left: 14px;
      padding-right: 0px;
      padding-top: 0px;
      p{
        font-size: 17px;
        font-weight: 500;
      }
      h2{
        font-size: 38.6px;
        font-weight: 700;
        padding-left: 2px;
        padding-top: 2px;
        margin-bottom: 7px;
      }
			p:nth-child(2){
				padding-top: 44px;
			}
			p:nth-child(3){
				padding-top: 17px;
			}
			p:last-child{
				padding-top: 15px;
        line-height: 1.7;	
			}

		}
		article#onboarding-article{
			h2{
				padding-top: 28px;
        font-size: 38.6px;
        font-weight: 700;
			}
			p.first-paragraph{
				padding-top: 35px;
        text-align: justify;
        span{
          font-size: 16.5px;
          font-weight: 500;
          line-height: 1.7;
        }
			}
			p:last-child{
				padding-top: 11px;
        text-align: justify;
			}
		}
	}
}

@media (max-height: 1692px){
  div.text-content{
    margin: 0px auto;
  }
}
